.sidebarContainer {
    width: 400px;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 10vh;

    /* // background: linear-gradient(120deg, #F9EEEB 0%, #E0E2E4 100%); */
    background: var(--gray-200);
    padding: 30px;  
}

.sidebarHeader{
    width: 100%;
    height: 70px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 0 10px 0 10px;
    border-radius: 10px;
    transition: 0.2s;
}

.sidebarHeader:hover {
    background-color: var(--gray-200);

    text-decoration: none;
    color: var(--gray-800);

    transition: 0.2s;
}


.userIdentity{
    width: auto;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    row-gap: 5px;

    padding: 0 10px 0 10px;
    font-size: 16px;
    font-weight: 500;
}

#userName{
    color: var(--gray-800);

    font-size: 20px;
    font-weight: 700;
}

#userRole{
    color: var(--blue-450 );

    font-size: 14px;
    font-weight: 500;
}
.sidebarNav {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    row-gap: 20px;
}

.SidebarLink {
    width: 100%;
    height: 60px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    column-gap: 30px;

    font-size: 18px;
    font-weight: 700;

    padding: 0 20px 0 20px;
    border-radius: 10px;
    color: var(--gray-700);
}

.SidebarLink:hover {
    background-color: var(--blue-600);

    text-decoration: none;
    color: var(--gray-100);

}

.SidebarLink.active {
    background-color: var(--gray-100);

    text-decoration: none;
    color: var(--gray-800);

}

.activeNavLink {
    background-color: var(--gray-100);

    text-decoration: none;
    color: var(--gray-800);

    transition: 0.2s;
}

.activeNavLink:hover {
    background-color: var(--gray-200);

    text-decoration: none;
    color: var(--gray-200);

    transition: 0.2s;
}

.sidebarTextDivider {
    width: 100%;
    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;

    padding: 0 0 10px 0;
    font-size: 18px;
    font-weight: 600;
    color: var(--gray-700);


    border-bottom: 1px solid var(--gray-700);
}