.presentation {
    width: 60%;
    height: 100%;

    background-image: url("./../../../../assets/img/preview.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.096);

    border-radius: 20px;
    transition: isease-in-out 2s;
}


.loginContainer{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 30px;

}

.login{
    width: 40%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;

    padding: 0 4rem 0 4rem;
}

.login .verticalContainer{
   font-size: 24px;
   font-weight: 600;
}

.loginContent {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    row-gap: 4rem;
}

.loginContent .speach {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;

    text-align: center;
}

.loginContent h3 {
    font-size: 40px;
    font-weight: 800;

    
}

.loginContent p {
    font-size: 18px;
    font-weight: 400;

}

.loginForm {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    row-gap: 3rem;
}