.profileContainer{
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  row-gap: 10vh;
}

.profileCard {
  width: 60vw;
  height: 40vh;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  row-gap: 3rem;

  padding: 3rem;
  background-color: var(--gray-100);
  border-radius: 10px;
  border: 2px solid var(--gray-300);
}

.roleSection {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  column-gap: 10px;
  padding: 10px;
  border-radius: 5px;

  font-size: 18px;
  font-weight: 500;
  color: var(--gray-100);

  background-color: var(--blue-450);
}

.container {
  width: auto;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  
  padding: 10px;
  border-radius: 5px;

  font-size: 18px;
  font-weight: 500;
  color: var(--gray-800);

}

.profileContent{
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  column-gap: 3rem;
  padding: 10px;
  border-radius: 5px;

  font-size: 18px;
  font-weight: 500;
  color: var(--gray-800);

}

.profileInfo {
  width: auto;
  height: auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  column-gap: 10px;
  row-gap: 10px;
  border-radius: 5px;
  

}

.infoTitle{
  font-size: 24px;
  font-weight: 700;
  color: var(--gray-400);

  margin-right: 10px;

}

#profileName {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 10px;
}

#profileMail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 10px;
}

#profilePassword {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 10px;
}

#profileAvatar {
  display: block;
  width: 300px;
  height: 300px;

  border-radius: 10px;
  border: 2px solid var(--gray-800);
  background-color: var(--gray-600);
}

.userData {
  font-size: 24px;
  font-weight: 500;

  color: var(--gray-800);
}